@{
    ViewData["Title"] = "Alertas";
}

<div class="row w-100 text-center bg-black text-white">
    <h1>Alertas</h1>
</div>

<div class="row">
    <div class="alert" role="alert">
        Esse é o componente alert no bootstrap
    </div>
</div>

<div class="row">
    <div class="col-6">

        <div class="alert alert-primary" role="alert">
            Esse é o <mark>alert-primary</mark> no bootstrap
        </div>

        <div class="alert alert-secondary" role="alert">
            Esse é o <mark>alert-secondary</mark> no bootstrap
        </div>

        <div class="alert alert-success" role="alert">
            Esse é o <mark>alert-success</mark> no bootstrap
        </div>

        <div class="alert alert-danger" role="alert">
            Esse é o <mark>alert-danger</mark> no bootstrap
        </div>
    </div>
    <div class="col-6">
        <div class="alert alert-warning" role="alert">
            Esse é o <mark>alert-warning</mark> no bootstrap
        </div>




        <div class="alert alert-info" role="alert">
            Esse é o <mark>alert-info</mark> no bootstrap
        </div>

        <div class="alert alert-light" role="alert">
            Esse é o <mark>alert-light</mark> no bootstrap
        </div>

        <div class="alert alert-dark" role="alert">
            Esse é o <mark>alert-dark</mark> no bootstrap
        </div>
    </div>


    <div class="col-12 border justify-content-center">
        <div class="alert alert-light alert-dismissible w-50 border" role="alert">
            <mark> Esse é o alert com botão para fechar</mark>
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>

    </div>


</div>




