@{
    ViewData["Title"] = "Teste 1";
}

<div class="row w-100 text-center bg-black text-white">
    <h1>Testes container e grid</h1>
</div>


<div class="container-fluid bg-dark text-white-50">fluid</div>
<div class="container bg-warning">comum</div>
<br /><br />
<div class="container-fluid w-100 bg-dark text-white-50">fluid w-100</div>
<div class="container -100 bg-warning">comum w-100</div>
