@{
    ViewData["Title"] = "Card";
}

<div class="row w-100 text-center bg-black text-white">
    <h1>Card</h1>
</div>
<div class="row w-100">
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="mb-0 fw-bolder text-warning">Dialga</h4>
                <p class="m-0 text-white">Forma origem</p>
            </div>
            <div class="card-body bg-dark bg-opacity-25">
                <img class="img-fluid" src="~/imgs/dialga.jpg" alt="dialga"/>
            </div>
            <div class="card-footer bg-dark">
                <a class="text-warning text-decoration-none" href="https://www.pokemon.com/br/pokemon-estampas-ilustradas/cartas-de-pokemon/ss-series/swsh10/113/" target="_blank">Saiba mais +</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="mb-0 fw-bolder text-warning">Smeargle</h4>
                <p class="m-0 text-white">Pancada de cauda</p>
            </div>
            <div class="card-body bg-dark bg-opacity-25">
                <img class="img-fluid" src="~/imgs/smeargle.png" alt="smeargle"/>
            </div>
            <div class="card-footer bg-dark">
                <a class="text-warning text-decoration-none" href="https://www.pokemon.com/br/pokemon-estampas-ilustradas/cartas-de-pokemon/sm-series/sm8/157/" target="_blank">Saiba mais +</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="mb-0 fw-bolder text-warning">Garchomp</h4>
                <p class="m-0 text-white">Sonic Strike</p>
            </div>
            <div class="card-body bg-dark bg-opacity-25">
                <img class="img-fluid" src="~/imgs/garchomp.jpg" alt="garchomp"/>
            </div>
            <div class="card-footer bg-dark">
                <a class="text-warning text-decoration-none" href="https://www.pokemon.com/br/pokemon-estampas-ilustradas/cartas-de-pokemon/ss-series/swsh10tg/TG23/" target="_blank">Saiba mais +</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="mb-0 fw-bolder text-warning">Jirachi</h4>
                <p class="m-0 text-white">Reino estrelar</p>
            </div>
            <div class="card-body bg-dark bg-opacity-25">
                 
                <img class="img-fluid" src="~/imgs/jirachi.png" alt="jirachi"/>
            </div>
            <div class="card-footer bg-dark">
                <a class="text-warning text-decoration-none" href="https://www.pokemon.com/br/pokemon-estampas-ilustradas/cartas-de-pokemon/sm-series/sm35/42/" target="_blank">Saiba mais +</a>
            </div>
        </div>
    </div>


    

</div>

Por finalizar

