@{
    ViewData["Title"] = "Dropdown";
}

<div class="row w-100 text-center bg-black text-white">
    <h1>Dropdown</h1>
</div>

<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        Dropdown button
    </button>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://github.com/marcelospacheco/">Meu GitHub</a></li>
        <li><a class="dropdown-item" href="https://localhost:7229/Home/Privacy">Colunas</a></li>
        <li><a class="dropdown-item" href="https://localhost:7229/Alertas">Alertas</a></li>
        <li><a class="dropdown-item" href="https://localhost:7229/Botoes">Botões</a></li>
        <li><a class="dropdown-item" href="https://localhost:7229/Badges">Badges</a></li>
        <li><a class="dropdown-item" href="https://localhost:7229/Tabelas">Tabelas</a></li>

    </ul>


</div>
